@page "/categories"
@inherits CategoriesViewModel

@if (_categories is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudGrid Spacing="2" Justify="Justify.FlexStart">
        @foreach (var category in _categories)
        {
            <MudItem xs="6" sm="4" md="3" lg="2" Class="d-flex flex-column align-center justify-center mud-width-full py-8">
                <CategoryCard Id="@category.Id" Name="@category.Name" IsIncome="@category.IsIncome" WalletId="@category.WalletId" />
            </MudItem>
        }
    </MudGrid>
}